<h1>Make your form here</h1>
    <form method="POST" action="/pirates">
        <label for="pirate[name]">Pirate Name:</label>
        <input type="text" id="pirate[name]" name="pirate[name]">
        <br/>
        <label for="pirate[weight]">Pirate Weight:</label>
        <input type="text" id="pirate[weight]" name="pirate[weight]">
        <br/>
        <label for="pirate[height]">Pirate Height:</label>
        <input type="text" id="pirate[height]" name="pirate[height]">
        <br/>
        <label for="ship_name_1">Ship No 1 Name:</label>
        <input type="text" id="ship_name_1" name="pirate[ships][][name]">
        <br/>
        <label for="ship_type_1">Ship No 1 Type:</label>
        <input type="text" id="ship_type_1" name="pirate[ships][][type]">
        <br/>
        <label for="ship_booty_1">Ship No 1 Booty:</label>
        <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
        <br/>
        <label for="ship_name_2">Ship No 2 Name:</label>
        <input type="text" id="ship_name_2" name="pirate[ships][][name]">
        <br/>
        <label for="ship_type_2">Ship No 2 Type:</label>
        <input type="text" id="ship_type_2" name="pirate[ships][][type]">
        <br/>
        <label for="ship_booty_2">Ship No 2 Booty:</label>
        <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
        <br/>
        <input type="submit" name="Submit" >
    </form>
   



